
.text {
  color: #777;
}
.btn {
  display: block;
  width: 150px;
  padding: 8px 0;
  margin: 20px auto;
  background: #4979ff;
  border-radius: 4px;
  color: white;
  text-align: center;
}
.masthead {
  height: 100vh;
}
.row{
  display:flex;
  justify-content: space-between;
  height: 300px;
  margin:40px;
}
.tl{
 width: 50%;
 padding:5px;
}
.tr{
 width: 40%;
 padding:5px;
}
.bl{
 width: 40%;
 padding:5px;
}
.br{
  width: 50%;
  padding:5px;
}