.title {
  color: #333;
  padding-bottom: 20px;
  text-align: center;
}
.text {
  color: #777;
}
.btn {
  display: block;
  width: 50%;
  padding: 8px 0;
  margin: 20px auto;
  background: #3f8671;
  border-radius: 4px;
  color: white;
  text-align: center;
}
.date{
  /* font-size: 16px;
  font-weight: bold; */
}
.slug{
  cursor: pointer;
}
.slug:hover{
  color: #666#4979ff;
}

.main p{
  padding: 10px 20px;
  border: 1px solid #999;
  border-radius:0px 20px;
  margin:20px 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 80%;
  margin:10px auto;
}

.main a{
  padding: 8px;
}
.main:hover a{
  background-color:#3f8671;
  color: #FFF;
  border-radius:0px 20px;
}

.main a{
  display: block;
  width: 50%;
}